@{
    ViewBag.Title = "Home Page";
}
<br />

<hr />
<br />
<div class="jumbotron">
    <h1 class="font-logo"><i class="glyphicon glyphicon-education"></i>UniBucAlert</h1>
    <p class="lead">UniBucAlert is a free web communication platform. 
    Whether students are learning remotely, in the classroom, or doing a combination of the two, we've got you covered.</p>
    <blockquote>
        <p>Education is the most powerful weapon which you can use to change the world.</p>
        <small>Nelson Mandela</small>
    </blockquote>
</div>
