# Build results
[Bb]in/
[Oo]bj/

# Visual Studio cache/options directory
.vs/

App_Data
DigitalSchoolGroups/DigitalSchoolGroups/Web.config
DigitalSchoolGroups/DigitalSchoolGroups/DigitalSchoolGroups.csproj
