<div class="panel-heading">
    <i class="glyphicon glyphicon-paperclip"></i>
    @Model.Title
</div>
<div class="panel-body">
    <strong>@Model.Description</strong>
    <br />
    <span class="label label-info pull-right">since: @Model.DateCreated</span>
    <br />
    <i class="glyphicon glyphicon-folder-open"></i>
    <strong>&nbsp;@Model.Category.CategoryName</strong>

    <span class="pull-right">
        <i class="glyphicon glyphicon-user"></i><i>&nbsp;Created by </i><strong>@Model.GroupAdmin.UserName</strong>
    </span>
</div>
