
<h2>School Groups</h2>

<h1>@ViewBag.Message</h1>

@foreach (DigitalSchoolGroupsPlatform.Models.Group group in ViewBag.Groups)
{
    @Html.Partial("GroupInfo", group);
    <div class="panel panel-footer">
        @if (ViewBag.userObject.IsInGroup(group))
        {
            <a class="btn btn-success btn-sm" href="/Groups/Show/@group.Id">Show group</a>
        }
        else if (ViewBag.userObject.RequestedToJoin(group))
        {
            <div>Request pending...</div>
        }
        else
        {
            <form method="post" action="/Groups/Join/@group.Id">
                <button class="btn btn-danger btn-sm" type="submit">Join group</button>
            </form>
        }
    </div>
}
