
@{
    ViewBag.Title = "Index";
}

@if (TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}

<h2>School Groups Categories</h2>

@foreach (var category in ViewBag.Categories)
{
    <h1>@category.CategoryName</h1>

    <a class="btn btn-success" href="/Categories/Show/@category.CategoryId">Show category</a>
    <a class="btn btn-success" href="/Categories/Edit/@category.CategoryId">Edit category</a>
    <br />
    <hr />
    <br />
}

<br />
<a class="btn btn-info" href="/Categories/New">Add new category</a>
<br />
<a href="/Groups/Index">Back to groups main page</a>
