@model DigitalSchoolGroupsPlatform.Models.Category

<h1>Show category</h1>

<h2>@Model.CategoryName</h2>
<br />

<a class="btn btn-success pull-left" 
   href="/Categories/Edit/@Model.CategoryId">
    Edit category
</a>

<form method="post" action="/Categories/Delete/@Model.CategoryId">
    @Html.HttpMethodOverride(HttpVerbs.Delete)

    <button class="btn btn-danger pull-right" type="submit">
        Delete category
    </button>
</form>
<br /> 
